.App {
  text-align: center;
}

.intro {
  background: #222;
  height: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.intro-left {
  display: flex;
  width: 50%;
  text-align: left;
  position: relative;
  z-index: 0;
}

.image-left {
  display: flex;
  z-index: 1;
  position: relative;
}

.logo {
  text-align: left;
  position: absolute;
  padding: 30px;
  z-index: 2;
}

.logo a:link {
  text-decoration: none;
}

.intro-right {
  display: flex;
  width: 50%;
  flex-direction: row;
  position: relative;
  z-index: 3;
}

.nav-bar {
  color: white;
  width: 100%;
  text-align: right;
  position: relative;
  z-index: 4;
}

.nav-bar p {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  color: white;
  font-family: 'set-font', helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 26px;
}

.nav-bar a:link {
  color: white;
  text-decoration: none;
}

.nav-bar a:visited {
  color: white;
  text-decoration: underline;
}

.nav-bar a:hover {
  color: gray;
}

.nav-bar t {
  color: white;
  text-decoration: underline;
}
.nav-bar t:hover {
  color: gray;
}

.what-we-do-text {
  color: white;
  width: 100%;
  height: 40%;
  text-align: center;
  position: absolute;
  z-index: 5;
  vertical-align: middle;
  top: 29%;
}

.what-we-do-text h1 {
  font-family: TimesNewRoman,
    'Times New Roman',
    Times,
    Baskerville,
    Georgia,
    serif;
  font-size: 68px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26px;
}

#what-we-do-text-text {
  text-align: left;
  margin-left: 185px;
  margin-right: 155px;
}

.what-we-do-text h2 {
  font-family: 'set-font', helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 26px;
}

.how-we-do-it {
  height: 700px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.how-we-do-it-title-left {
  top: 50%;
  margin: 0 auto;
  margin-right: 100px;
  margin-left: 300px;
  margin-top: 100px;
  min-width: 300px;
  font-size: 50px;
  color: #222;
  font-family: serif;
  font-weight: bold;
}

.how-we-do-it-text-right {
  top: 50%;
  margin: 0 auto;
  margin-right: 300px;
  margin-left: 100px;
  margin-top: 100px;
  min-width: 300px;
  text-align: left;
  color: #222;
  line-height: 30px;
}

.core-services {
  background: #F5F5F5;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}

.core-services p {
  color: gray;
  font-family: 'set-font', helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 26px;
}

.core-services h1 {
  color: #4C4B4B;
  font-family: TimesNewRoman,
    'Times New Roman',
    Times,
    Baskerville,
    Georgia,
    serif;
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26px;
}

.core-services-links-left {
  width: 50%;
  text-align: left;
  position: relative;
  z-index: 2;
}

#core-services-left-text {
  margin-left: 35%;
  margin-top: 10%;
}

.core-services-links-right a:link {
  text-decoration: none;
  color: #4C4B4B;
}

.core-services-links-right a:hover {
  text-decoration: underline;
  color: #4C4B4B;
}

.core-services-links-right a:visited {
  text-decoration: none;
  color: #4C4B4B;
}

.core-services-links-left a:link {
  text-decoration: none;
  color: #4C4B4B;
}

.core-services-links-left a:hover {
  text-decoration: underline;
  color: #4C4B4B;
}

.core-services-links-left a:visited {
  text-decoration: none;
  color: #4C4B4B;
}

#core-services-right-text {
  text-align: left;
  margin-left: 15%;
  margin-top: 15%;
}

.core-services-links-right {
  text-align: left;
  width: 50%;
  position: relative;
  z-index: 3;
}

.quote-bar {
  padding: 80px;
  position: relative;
  z-index: 5;
  text-align: center;
}

.quote-ticker {
  text-align: center;
  position: relative;
  display: inline-block;
  text-align: center;
}

.quote-text {
  position: absolute;
  top: 15%;
  left: 0;
  margin-left: 30%;
  margin-right: 30%;
}

.quote-text h1 {
  color: #4C4B4B;
  font-family: "Avenir";
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 50px;
}

.quote-text p {
  color: #4C4B4B;
  font-family: "Avenir";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 26px;
}

#quote-image {
  position: relative;
  width: 100%;
}

.quote-progress-bar {
  margin-left: 10000px;
  margin-right: 10000px;
}
